.footer{
    background-color: #f6f6f6;
    height: 100px;
    display: flex; 
}

.footer div{
    margin: auto;
}

/* ヘッダー */
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-inner {
    padding: 0 20px; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: inherit; 
    position: relative;
}

/* ヘッダーのナビ部分 */
.header_nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); 
    background-color: darkgrey;
    transition: ease .4s; 
}

.nav_items {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 0;
}

/* ナビのリンク */
.nav_items a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    text-decoration: none;
}

.nav-items_item:last-child a {
    margin-bottom: 0;
}

/* ハンバーガーメニュー */
.header_hamburger {
    width: 48px;
    height: 50%;
}

.hamburger {
    background-color: transparent; 
    border-color: transparent; 
    z-index: 9999;
}

/* ハンバーガーメニューの線 */
.ham_line {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .4s; 
    display: block;
}
.ham_line1 {
    top: 0px;
}
.ham_line2 {
    margin: 8px 0;
}
.ham_line3 {
    top: 0px;
}

/* ハンバーガーメニュークリック後のスタイル */
.header_nav.active{
    transform: translateX(80%);
}
.hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
} 